* {
    margin: 0;
}

body {
    background-color: slategrey;
    color: white;
}

header {
    text-align: center;
    margin: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    margin: 10px;
}

#myCanvas {
    background-color: white;
}

#myCanvas.index {
    width: 90vw;
    filter: drop-shadow(0px 8px 5px #2e2e2e);
}
#myCanvas.slideshow {
    width: 100vw;
}

#audienceParticipationInput {
    margin: 10px 5px;
}
#audienceParticipationInput > * {
    height: 50px;
    font-size: 30px;
    border-radius: 10px;
    border: none;
}
#audienceParticipationInput.slideshow {
    max-height: 0;
    visibility: hidden;
}
#questionInput {
    width: 75vw;
    border-radius: 10px;
}

.beeg {
    width: 35vw;
    height: 30vh;
}
.row {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 45vh;
}
.row > div {
    width: 45%;
    border: solid 2px black;
}

#responseBox {
    overflow-y: scroll;
}

#responseBox > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border: solid 2px black;
    margin: 5px;
    height: fit-content;
    font-size: 1.5em;
    
}

#responseBox * {
    height: inherit;
}

#responseBox h3 {
    height: initial;
}

#responseBox button {
    width: 100px;
    height: 100px;
    margin: 0px 5px;
    cursor: pointer;
}
#acceptButton {
    background-color: green;
}
#rejectButton {
    background-color: red;
}