* {
    margin: 0;
}

body {
    background-color: slategrey;
    color: white;
}

body > * {
    margin: 10px;
}

header {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myCanvas {
    background-color: white;
}

#myCanvas.index {
    width: 90vw;
    height: 85vh;
}
#myCanvas.slideshow {
    width: 100vw;
    height: 100vh;
}